<button type="button" class="btn btn-light w-50 fw-medium" data-bs-toggle="modal" data-bs-target="#raiseTicket"> Raise
    Ticket </button>
<button type="button" class="btn btn-light w-50 fw-medium" data-bs-toggle="modal" data-bs-target="#getRegisterNumber">
    Get Register Number </button>
<button type="button" class="btn btn-light w-50 fw-medium" data-bs-toggle="modal" data-bs-target="#getSlotNumber"> Get
    Slot Number </button>
<button type="button" class="btn btn-light w-50 fw-medium" data-bs-toggle="modal" data-bs-target="#getSlotsNumber"> Get
    Slot Numbers </button>
<button type="button" class="btn btn-light w-50 fw-medium" data-bs-toggle="modal" data-bs-target="#removeCar"> Remove
    Car </button>