<div class="card border-dark" style="width: 14rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item fw-medium border-dark">Parking Lot Information</li>
        <li class="list-group-item border-dark" style="background-color:lemonchiffon;">Total Slots -
            10</li>
        <li class="list-group-item border-dark" style="background-color:lemonchiffon;" id="availableSlots"></li>
        <li class="list-group-item border-dark" style="background-color:lemonchiffon;" id="bookedSlots">Booked Slots
            - </li>
    </ul>
</div>