<nav class="navbar navbar-expand-lg position-sticky sticky-top mb-4" style="background-color:lightgray;">
    <div class="container-md">
        <a class="navbar-brand fs-5 fw-medium" href="#">CAR PARKING LOT</a>
    </div>
</nav>