<div class="modal fade" id="viewalldata" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cars In Parking Lot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="overflow: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Slot number</th>
                                <th scope="col">Car number</th>
                                <th scope="col">Car color</th>
                                <th scope="col">Entry date & Time</th>
                            </tr>
                        </thead>
                        <tbody id="carParkingTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>