<div class="modal fade" id="raiseTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Your Ticket</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/parkedYourCar" id="ticketForm">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Your car number</label>
                        <input type="text" name="car_num" class="form-control border-dark" id="exampleFormControlInput1"
                            required>
                    </div>
                    <div class="mb-3">
                        <select class="form-select border-dark" aria-label="Select your car color" name="color"
                            required>
                            <option value="">Select a color</option>
                            <option value="red">Red</option>
                            <option value="orange">Orange</option>
                            <option value="yellow">Yellow</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="indigo">Indigo</option>
                            <option value="violet">Violet</option>
                            <option value="white">White</option>
                            <option value="black">Black</option>
                            <option value="gray">Gray</option>
                            <option value="brown">Brown</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="raisedATicket">Generate ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>